body{
    background-color: rgba(110, 30, 238, 0.356);
    color:blueviolet;
    font-family:Dancing Script;
}
section{
 background-color: rgb(233, 146, 245);
 padding-top:80px;
padding-bottom:80px;
display:flex;
justify-content:center;
padding-left:20px;
padding-right:20px;
}
.chamadatexto{
    margin-right: 40px;
}
h1{
    font-size:30px;
}
p{
    font-size:30px;
}
header{
    font-size:30px;
    padding-left:20px;
    color:rgb(0, 68, 255);
}
img{
    height:200px;
}
.categoria{
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    background-color: rgb(127, 240, 255);
}
.chamada-video{
    display:flex;
    overflow-x: auto;
    gap:10px;
}